.projects-container {
    padding-top: 8rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.projects-grid {
    display: grid;
    gap: 2.5rem;
}

.projects-grid-xl {
    gap: 2.5rem;
}

.projects-grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
}

.projects-grid-lg-3 {
    grid-template-columns: repeat(3, 1fr);
}

.projects-center {
    place-items: center;
}

/* Responsive Design */
@media (max-width: 760px) {
    .projects-grid {
        grid-template-columns: 1fr;  /* 1 column on small screens*/
    }
}

@media (mix-width: 760px) and (max-width: 1024px){
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);  /* 2 column on media screens*/
    }
}

@media (min-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);  /* 3 column on large screens*/
    }
}